<%= render "common/main" do %>
  <%= render "common/gradient_with_fingerprints" do %>
    <h1 class="text-3xl font-thin md:my-4 md:text-5xl">Employer Portal Login</h1>
    <hr class="mb-6 border-t-2 border-white">
    <div class="text-xl md:text-3xl">Welcome to the Health Passport Employer Portal!</div>
    <div class="text-xl font-thin md:text-3xl md:mb-4">Getting your team back to business the better way.</div>
  <% end %>
  <div class="container mx-auto px-4">
    <%= render "sessions/form" %>
  </div>
<% end %>
