# Ignore all log and temp files
log/
tmp/
!log/.keep
!tmp/cache/.keep
!tmp/sockets/.keep
!tmp/pids/.keep

# Ignore special OS files
.DS_Store

# Ignore all node_modules
node_modules/

# Remove tests
spec/

# Remove locally compiled assets
public/packs/

# Ignore .git as we don't need it
.git

# Ignore local .env
.env
.ruby-version
.tool-versions
.rspec
