<div class="flex items-center">
  <div class="whitespace-no-wrap"><%= label %></div>
  <div class="inline-flex flex-col align-middle pl-1">
    <% if true %>
      <%= render "icon/cheveron_up", icon_class: "h-5 w-5 text-blue-500 -my-1" %>
    <% else %>
      <%= render "icon/cheveron_down", icon_class: "h-5 w-5 text-gray-300 -my-1" %>
    <% end %>
  </div>
</div>
