<li class="flex py-2 items-center border-l border-black last:border-transparent md:flex-col md:border-l-0 md:border-t md:w-20">
  <% if voted %>
    <div class="-mt-6 mb-6 -ml-4 flex items-center justify-center border border-black bg-white rounded-full w-8 h-8 md:-ml-10 md:mr-10 md:mb-8">
      <div class="bg-blue-400 rounded-full w-6 h-6 box-content">
      </div>
    </div>
  <% else %>
    <div class="-mt-6 mb-6 -ml-2 mr-2 flex items-center justify-center border border-black bg-white rounded-full w-4 h-4 md:-ml-10 md:mr-10 md:-mt-4 md:mb-10">
      <div class="border border-black bg-black rounded-full w-2 h-2 box-content">
      </div>
    </div>
  <% end %>
  <div class="-mt-6 mb-6 pl-3 md:text-center md:pl-0 md:-ml-10 md:mr-10">
    <div class="md:px-2"><%= label %></div>
  </div>
  <% if label=="Passport Complete" && voted %>
    <div class="-mt-4 mb-6 pl-3 font-medium md:text-center md:pl-0 md:-ml-10 md:mr-10">
      Status: <span class="<%= testing_color(editor) %>"><%= editor.testing_status %></span>
    </div>
  <% end %>
</li>
