<%= render "common/main" do %>
  <%= render "common/gradient_with_fingerprints" do %>
    <h1 class="text-xl font-semibold py-1 leading-none tracking-wide md:text-3xl">Add New Employee</h1>
  <% end %>
  <div class="container mx-auto px-4">
    <h2 class="text-3xl font-thin mt-4">Register an employee by filling out the form below</h2>
    <p class="text-sm font-medium mb-4">Once you submit, your <strong>employer verification code</strong> will be sent to the employee's email to register an account with Essential Health Passport.</p>
    <p class="text-xs font-medium mb-10">
      <%= render "icon/exclamation_solid", icon_class: "inline-block align-middle h-3 w-3 text-orange-500" %>
      <span class="align-middle">Submitting an employee will fill a slot in your allowed number of employees in the system, you will not be able to change this once submitted.</span>
    </p>
    <%= render "employees/form" %>
  </div>
<% end %>
