<label class="bg-white border shadow-inner w-5 h-5 flex justify-center items-center cursor-pointer">
  <%= check_box_tag name, value, false, class: "w-full hidden" %>
  <%= render "icon/checkmark", icon_class: "hidden w-3 h-3 text-blue-500 pointer-events-none" %>
</label>
