<% errors = form.object.errors_on :tags %>
<div>
  <% unless local_assigns[:label] == false %>
    <%= form.label :tags, local_assigns[:label].presence, class: "block text-3xl font-thin" %>
  <% end %>
  <%= form.text_field :tags, class: text_field_class(errors), placeholder: local_assigns[:placeholder].presence, data: { tagging: true, whitelist: form.object.tags_whitelist.join(","), enforce_whitelist: !current_context.allowed_to_add_employee_tags? } %>
  <%= render "common/errors", errors: errors %>
</div>
