<div>
  <%= form.label column, label, class: "text-3xl font-thin" %>
  <%= form.text_field column, class: text_field_class(errors), placeholder: local_assigns[:placeholder].presence %>
  <%= render "common/errors", errors: errors %>
</div>
