<% errors = form.object.errors_on column %>
<div>
  <%= form.label column, local_assigns[:label].presence, class: "block text-3xl font-thin mb-2" %>
  <%= form.text_field column, class: text_field_class(errors), placeholder: local_assigns[:placeholder].presence %>
  <%= render "common/errors", errors: errors %>
</div>
