<div class="bg-white shadow-md rounded overflow-hidden">
  <table class="w-full border-collapse text-gray-900">
    <thead class="select-none">
      <tr class="bg-blue-500 font-bold uppercase text-sm text-gray-100">
        <th class="py-4 px-6 border-b border-gray-200 w-1 whitespace-no-wrap">Created at</th>
        <th class="py-4 px-6 border-b border-gray-200 text-left">Name</th>
        <th class="py-4 px-6 border-b border-gray-200 text-left">Trigger</th>
        <th class="py-4 px-6 border-b border-gray-200 text-left whitespace-no-wrap">Company plan</th>
        <th class="py-4 px-6 border-b border-gray-200 w-1">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% email_templates.each do |email_template| %>
        <%= render "admin/email_templates/email_template", email_template: email_template %>
      <% end %>
    </tbody>
  </table>
</div>
