<li class="flex items-center text-blue-500 cursor-pointer mb-2 hover:text-blue-700" data-insert="{{<%= code %>}}">
  <%= render "icon/code", icon_class: "h-5 w-5 text-black mr-2" %>
  <%= label %>
</li>
