<h2 class="mb-10 text-xl">Customize color palette</h2>
<div class="grid grid-cols-2 gap-10 mb-10 lg:grid-cols-4 xl:grid-cols-8">
  <% color_palette.used_colors.each do |color| %>
    <%= render "admin/themes/color", color: color, value: color_palette.current_value(color) %>
  <% end %>
</div>
