<h2 class="mb-10 text-xl">Logo <span class="text-gray-300">- recommended format: PNG, height: 96 pixels</span></h2>
<div class="grid grid-cols-2 gap-10 mb-10">
  <div>
    <% errors = form.object.errors_on :logo %>
    <%= form.file_field :logo, class: text_field_class(errors) %>
    <%= render "common/errors", errors: errors %>
  </div>
  <div>
    <% if form.object.logo_url %>
      <img src="<%= form.object.logo_url %>" class="h-12">
    <% end %>
  </div>
</div>
<h2 class="mb-10 text-xl">Customize color palette</h2>
<%= render "admin/themes/colors", color_palette: form.object.color_palette %>
