$tags-border-color: #e2e8f0; // bg-gray-300
$tags-hover-border-color: #718096; // bg-gray-600
$tags-focus-border-color: black; // bg-blue-400
$tag-bg: #edf2f7; // bg-gray-200
$tag-hover: #bee3f8; // bg-blue-200
$tag-remove: #f56565; // bg-red-500
$tagify-dd-color-primary: #63b3ed; // bg-blue-400
@import "@yaireo/tagify/src/tagify";
.tagify{
  border-width: 2px;
}
.tagify.border-b{
  margin-top: -1px;
  border-width: 1px;
  border-left:0 !important;
  border-right:0 !important;
  border-top:0 !important;
}
