<%= render "common/main" do %>
  <%= render "common/gradient_with_fingerprints" do %>
    <h1 class="text-xl font-semibold py-1 leading-none tracking-wide md:text-3xl">Plans</h1>
  <% end %>
<% end %>
