<footer class="absolute bottom-0 left-0 w-full h-40 md:h-24 border-blue-e3 border-solid border-t-2">
  <div class="container p-4 mx-auto">
    <div class="flex items-center justify-between px-2">
      <%= image_pack_tag "logo.png", alt: "Logo", class: "h-8 inline-block max-w-none md:mt-3" %>
      <%= image_pack_tag "icon-account.svg", alt: "My account", class: "h-4 inline-block max-w-none md:-mt-3" %>
    </div>
    <nav class="text-xs text-gray-600 mt-4 md:mt-0 md:ml-auto md:mr-2 md:-mt-2">
      <ul class="md:flex md:justify-end">
        <li>Terms & Conditions</li>
        <li class="hidden mx-2 md:block">|</li>
        <li>Privacy Policy</li>
        <li class="mt-4 md:mt-0 md:ml-6">Copyright Essential Health Solutions 2020</li>
      </ul>
    </nav>
  </div>
</footer>
