<%= link_to(url_options, class: "#{secondary_button_class} inline-flex items-center #{link_class}") do %>
  <%= render "icon/#{icon}", icon_class: "h-3 w-3 mr-2" %>
  <span><%= label %></span>
<% end %>
