<%= render "common/flash_messages" %>
<div class="min-h-screen relative">
  <div class="pb-40 md:pb-24">
    <%= render "common/header" %>
    <main>
      <%= yield %>
    </main>
  </div>
  <%= render "common/footer" %>
</div>
