<li class="flex py-2 items-center border-l border-gray-400 last:border-transparent md:flex-col md:border-l-0 md:border-t md:w-20">
  <div class="-mt-6 mb-6 -ml-2 mr-2 flex items-center justify-center border border-gray-400 bg-white rounded-full w-4 h-4 md:-ml-10 md:mr-10 md:-mt-4 md:mb-10">
  </div>
  <div class="-mt-6 mb-6 pl-3 flex-1 md:text-center md:pl-0 md:-ml-10 md:mr-10">
    <div class="md:px-2"><%= label %></div>
  </div>
</li>
